force-app/main/default/flows/Block_Funds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>setValues</name>
        <label>setValues</label>
        <locationX>384</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>DBRecord.Blocked_Funds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Block_Funds_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DBRecord.Current_Balance__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Block_Funds_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DBRecord.Comment_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Block Funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Block Funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDonorBalanceRecord</name>
        <label>GetDonorBalanceRecord</label>
        <locationX>191</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Block_Funds_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Donor_Balance__c</object>
        <outputReference>DBRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Balance__c</queriedFields>
        <queriedFields>Blocked_Fund_f__c</queriedFields>
        <queriedFields>Blocked_Funds__c</queriedFields>
        <queriedFields>Total_Available_Fund__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>557</locationX>
        <locationY>387</locationY>
        <inputReference>DBRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Block_Funds_Screen</name>
        <label>Block Funds</label>
        <locationX>209</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setValues</targetReference>
        </connector>
        <fields>
            <name>CurrentBalance</name>
            <fieldText>&lt;p&gt;Current Balance&amp;nbsp;:         {!DBRecord.Current_Balance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Block_Funds_1</name>
            <dataType>Number</dataType>
            <fieldText>Block Funds</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Blocked fund can&apos;t be Zero or More than Current Balance.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
NOT(ISBLANK({!Block_Funds_1})),
IF({!Block_Funds_1} &lt; {!DBRecord.Current_Balance__c},true,false))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>TotalAvailableFund</name>
            <fieldText>&lt;p&gt;Total Available Fund :  {!DBRecord.Total_Available_Fund__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetDonorBalanceRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DBRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donor_Balance__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
