force-app/main/default/flows/Eligible.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>924</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>Record.Internal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.External_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Application_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTheRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoOpt</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>yesOpt</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Internal_and_External_Status</name>
        <label>Check Internal and External Status</label>
        <locationX>202</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>dont show</defaultConnectorLabel>
        <rules>
            <name>ifPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Internal_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending_Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.External_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Remarks</targetReference>
            </connector>
            <label>ifPending</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckInternalStatusEligibility</name>
        <label>CheckInternalStatusEligibility</label>
        <locationX>597</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Status_cannot_be_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfIneligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Internal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WARNING</targetReference>
            </connector>
            <label>IfIneligible</label>
        </rules>
        <rules>
            <name>IfEligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Internal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Eligible</targetReference>
            </connector>
            <label>IfEligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContinueOrNot</name>
        <label>ContinueOrNot</label>
        <locationX>836</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfContinue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioOpt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>IfContinue</label>
        </rules>
    </decisions>
    <interviewLabel>Eligible {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eligible</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getApplicationRecord</name>
        <label>getApplicationRecord</label>
        <locationX>158</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Internal_and_External_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Internal_Status__c</queriedFields>
        <queriedFields>External_Status__c</queriedFields>
        <queriedFields>Application_Stage__c</queriedFields>
        <queriedFields>Comment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTheRecord</name>
        <label>UpdateTheRecord</label>
        <locationX>1004</locationX>
        <locationY>209</locationY>
        <inputReference>Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Eligible</name>
        <label>Already Eligible</label>
        <locationX>466</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>alreadyEligibleMessage</name>
            <fieldText>&lt;p&gt;Application status is already &quot;Eligible&quot;!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Remarks</name>
        <label>Enter Remarks</label>
        <locationX>412</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckInternalStatusEligibility</targetReference>
        </connector>
        <fields>
            <name>Remarks</name>
            <fieldText>Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_cannot_be_changed</name>
        <label>Status cannot be changed.</label>
        <locationX>657</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Status cannot be changed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WARNING</name>
        <label>WARNING</label>
        <locationX>774</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContinueOrNot</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;Application will be set to &quot;Eligible&quot;. Do you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioOpt</name>
            <choiceReferences>yesOpt</choiceReferences>
            <choiceReferences>NoOpt</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Select Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getApplicationRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
