force-app/main/default/flows/Release_Fund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>setValues</name>
        <label>setValues</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>DBRecord.Blocked_Funds__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Release_Fund</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DBRecord.Current_Balance__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Release_Fund</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DBRecord.Short_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Release Fund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release Fund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>GetDonorBalancedRecord</description>
        <name>GetDonorBalancedRecord</name>
        <label>GetDonorBalancedRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Release_Fund_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Donor_Balance__c</object>
        <outputReference>DBRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Balance__c</queriedFields>
        <queriedFields>Blocked_Fund_f__c</queriedFields>
        <queriedFields>Blocked_Funds__c</queriedFields>
        <queriedFields>Total_Available_Fund__c</queriedFields>
        <queriedFields>Comment_s__c</queriedFields>
        <queriedFields>Current_Balance_f__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>DBRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Release_Fund_Screen</name>
        <label>Release Fund</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setValues</targetReference>
        </connector>
        <fields>
            <name>Current_Balance</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Balance : &lt;/b&gt;{!DBRecord.Current_Balance_f__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blocked_Funds</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Blocked Fund : &lt;/b&gt;{!DBRecord.Blocked_Fund_f__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Release_Fund</name>
            <dataType>Number</dataType>
            <fieldText>Release Fund</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDonorBalancedRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DBRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donor_Balance__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
